

#events-container{
    background-color: black;
    margin: 10px;
    margin-bottom: 12%;
}

.event-format{
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */;
    margin-bottom: 5px;
    background-color: #f6f6f6;
}

#event-name{
    color: black;
    margin: 5px
}

#event-track{
    color: white;
    margin-top: 3px;
}

* {
    box-sizing: border-box;
  }
  
  #event-list {
    list-style-type: none;
    padding: 5px;
  }
  
  